@page "/products"
@inject IProductEndpoint ProductEndpoint
@attribute [Authorize]

<h3>Products</h3>

<div class="container-fluid">
    @if (products == null)
    {
        <div class="row">
            <p>No products have been loaded</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-xl-4 col-lg-6 mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a href="">
                                    <img src="https://dummyimage.com/1200x900/000/fff&text=Product" class="img-fluid" alt="placeholder" />
                                </a>
                                <p class="my-2" style="text-align: justify;">
                                    @product.Description
                                </p>
                                <p class="mb-1">
                                    <strong>Quantity:</strong> @product.QuantityInStock
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="h5 mb-2">@product.ProductName</p>
                                <p class="h5 mb-3">@string.Format("{0:C}", product.RetailPrice)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    private List<UIProductModel>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductEndpoint.GetAllProducts();
    }
}
